<div id="voting-buttons">
    <div id="numbers">
        <div class="buttons-row">
            <button class="btn" (click)="click_button('1')">1</button>
            <button class="btn" (click)="click_button('2')">2</button>
            <button class="btn" (click)="click_button('3')">3</button>
        </div>
        <div class="buttons-row">
            <button class="btn" (click)="click_button('4')">4</button>
            <button class="btn" (click)="click_button('5')">5</button>
            <button class="btn" (click)="click_button('6')">6</button>
        </div>
        <div class="buttons-row">
            <button class="btn" (click)="click_button('7')">7</button>
            <button class="btn" (click)="click_button('8')">8</button>
            <button class="btn" (click)="click_button('9')">9</button>
        </div>
        <div class="buttons-row">
            <button class="btn invisible"></button>
            <button class="btn" (click)="click_button('0')">0</button>
            <button class="btn invisible"></button>
        </div>
        <div class="buttons-row">
            <button class="btn white" (click)="click_button('BRANCO')">Branco</button>
            <button class="btn correct" (click)="click_button('CORRIGE')">Corrige</button>
            <button class="btn confirm" (click)="click_button('CONFIRMA')">Confirma</button>
        </div>
    </div>
</div>